<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>

<body>

<h1>About Us</h1>

<p>
 We are the Catalyst Core, a team of passionate innovators ready to help you transform your ideas into reality. 
 Our mission is to provide you with the tools and support you need to succeed in the career realm. 
 Whether you're a recent college graduate looking for guidance or a professional seeking to take your career to the next level, we are here to help.
</p>

</body>
    

</html>