<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NextStep</title>
  <link rel="stylesheet" href="/static/css/home.css">
</head>

<body>

  <main>
    <header>
      <h1>NextStep</h1>
      <nav>
        <a href="home.html">Home</a>
        <div class="dropdown">
          <a href="features.html" class="dropbtn">Features</a>
          <div class="dropdown-content">
            <a href="rmaker.html">Resume Maker</a>
            <a href="rgrader.html">Resume Grader</a>
            <a href="mock.html">Mock Interview Bot</a>
          </div>
        </div>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
        <a href="form.html" id="logout-btn">Logout</a>
      </nav>
    </header>

    <section class="hero">
      <h2 class="typing-container"><span class="typing-text done">Your Future, One Step Ahead</span></h2>
      <p>NextStep helps you plan, track, and achieve your goals with clarity and confidence. Designed for dreamers,
        doers, and everyone in between.</p>
      <button>Get Started</button>
    </section>
  </main>

  <footer>
    &copy; 2025 NextStep. All rights reserved.
  </footer>
  <script src="/static/js/style.js"></script>
</body>

</html>